<!-- collapse menu button -->
<div id="hide-menu" class="btn-header pull-right">
    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
</div>
<!-- end collapse menu -->
<!-- #MOBILE -->
<!-- Top menu profile link : this shows only when top menu is active -->


<!-- logout button -->
<div id="logout" class="btn-header transparent pull-right">
    <span> <a href="@Url.Action("login", "account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
</div>
<!-- end logout button -->
<!-- search mobile button (this is hidden till mobile view port) -->

<!-- end search mobile button -->
<!-- input: search field -->

<!-- end input: search field -->
<!-- fullscreen button -->
<div id="fullscreen" class="btn-header transparent pull-right">
    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
</div>
<!-- end fullscreen button -->
<!-- #Voice Command: Start Speech -->

<!-- end voice command -->
<!-- multiple lang dropdown : find all flags in the flags page -->
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a id="dropdownlang" href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/content/img/blank.gif" class="flag flag-cn" alt="China"> <span> 中文(简体) </span> <i class="fa fa-angle-down"></i> </a>
        <ul id="dropdownlang-dropdown-menu" class="dropdown-menu pull-right">
            <li >
                <a href="javascript:void(0);"><img src="~/content/img/blank.gif" culture="en" class="flag flag-us" alt="United States"> English (US)</a>
            </li>
           
            <li>
                <a href="javascript:void(0);"><img src="~/content/img/blank.gif" culture="cn" class="flag flag-cn" alt="China"> 中文(简体)</a>
            </li>
            <li>
                <a href="javascript:void(0);"><img src="~/content/img/blank.gif" culture="tw" class="flag flag-tw" alt="TaiWan"> 中文(繁体) </a>
            </li>
            
            

        </ul>
    </li>
</ul>
 
<!-- end multiple lang -->